<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find realsense_lab)/world/world_env.world"/> 
    <arg name="verbose" value="true"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" 
        command="$(find xacro)/xacro '$(find realsense2_description)/urdf/multi_simulation.xacro'" />
  
  
  <node
        name="spawn_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-urdf -param robot_description -model rs200"
    />
  <node name="state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>

